body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn {
  text-transform: uppercase;
  background-color: tomato;
  border-color: darkorange;
  border-radius: 30px;
  transition: 0.2s;
  
}

.btn:hover {
  background-color:rgb(230, 71, 19);
  border-color:rgb(230, 71, 19);
  transform: scale(1.1);
}

hr {
  color: tomato;
  border: solid 2px;
  max-width: 3rem;
}

.buffer {
  height: 10rem;
}